﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>


<body>
    <div style="margin:20px">
        @Html.ActionLink("Authorize", "GetCode", "googleCloud")
    </div>

</body>
</html>