﻿@model List<string>
   



<html>

   

           <body>
               <div>
                   <ul>
    @foreach (var p in Model)
    {

        <li> <label>@p</label></li>
        }
    </ul>


               </div>
            <div style="margin:20px">
                <form method="post" asp-action="UploadFile" asp-controller="googleCloud" enctype="multipart/form-data">
                    <input type="file" name="files" multiple />
                    <input type="submit" value="Upload" />
                </form>

            </div>


           </body>


</html>