﻿@model FileCloudStorageLiberary.OneDriveAccount

<html>

<body>

    <div>
        @Html.LabelFor(p => p.name)
        <label>@Model.name</label>
    </div>

    <div>
        @Html.LabelFor(p=>p.locale,"locatie")
        <label>@Model.locale</label>

    </div>

    <img src=@Model.picture />

     @Html.ActionLink("Files", "UploadFile", "OneDrive")
</body>


</html>