﻿@model FileCloudStorageLiberary.OneDriveModels.FileLijstOneDrive


<html>

<body>

    <ul>
        @foreach (var item in Model.value)
        {
            <li>
                <label>@item.name</label>
                <label>@item.file.mimeType</label>
            </li>
        }

    </ul>

    <div style="margin:30px">
        <form method="post" asp-action="UploadFile" asp-controller="OneDrive" enctype="multipart/form-data">
            <input type="file" name="files" multiple />
            <input type="submit" value="Upload" />
        </form>


    </div>
</body>

</html>