﻿@model TestWeb.Model.Acount
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>
<head>


</head>
<body>
    <div>
    @Html.LabelFor(p => p.Name);
    @Html.TextBoxFor(p => p.Name);
</div>
    <div>
        @Html.LabelFor(p => p.Email);
        @Html.TextBoxFor(p => p.Email);
    </div>

    <form method="post" asp-action="AcountPage" asp-controller="DropBox" enctype="multipart/form-data">
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />
    </form>

    @if((bool)ViewData["OnSucces"])
    {

        <label>Succesfully Uploaded</label>
    }
</body>

</html>