﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string accestoken = "";
}

<head>
<script>

    window.onload = function()
    {
        if( window.location.hash)
        {
            accestoken = window.location.hash.substring(1);
            window.location.href = "http://localhost:5000/DropBox/AcountPage?" + accestoken;
        }


    }


</script>
    </head>