﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<html>



<body>

    <button> @Html.ActionLink("Authenticate DropBox", "Authorize", "Dropbox")  </button>


</body>



</html>